version: '3'

services:
  runner:
    image: registry.cn-hangzhou.aliyuncs.com/tradingai/runner:latest
    container_name: tradingai_runner
    environment:
      TUSHARE_TOKEN: ${TUSHARE_TOKEN}
      RUNNER_MINIO_ACCESS_KEY: ${RUNNER_MINIO_ACCESS_KEY}
      RUNNER_MINIO_SECRET_KEY: ${RUNNER_MINIO_SECRET_KEY}
      RUNNER_MINIO_HOST: ${RUNNER_MINIO_HOST}
      RUNNER_MINIO_PORT: ${RUNNER_MINIO_PORT}
      RUNNER_MINIO_SECURE: ${RUNNER_MINIO_SECURE}
      HEARTBEAT_SECONDS: ${HEARTBEAT_SECONDS}
      RUNNER_DATA_DIR: ${RUNNER_DATA_DIR}
      RUNNER_TOKEN: ${RUNNER_TOKEN}
    # restart: always
    command:
      /runner
    volumes:
      - .:/go/src/github.com/tradingAI/runner
      - ${RUNNER_DATA_DIR}:/root/runner/data/:rw
      - /var/run/docker.sock:/var/run/docker.sock:ro
