name: Docker

on:
  push:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Run test in docker container
      run: docker-compose up --exit-code-from test test
      env:
        TUSHARE_TOKEN: test
        TUSHARE_API: https://api.tushare.pro
        RUNNER_MINIO_ACCESS_KEY: test
        RUNNER_MINIO_SECRET_KEY: test
        RUNNER_MINIO_HOST: 127.0.0.1
        RUNNER_MINIO_PORT: 5001
        RUNNER_MINIO_SECURE: false

  build:
    runs-on: ubuntu-latest
    needs: test

    steps:
    - uses: actions/checkout@v2

    - name: docker build
      run: make build_prod_image

    - name: docker login
      run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

    - name: docker push-logout
      run: |
        docker push tradingai/runner:latest
        docker logout
    - name: ali docker login
      run:  echo "${{ secrets.ALI_DOCKER_PASSWORD }}" | docker login -u ${{ secrets.ALI_DOCKER_USERNAME }} registry.cn-hangzhou.aliyuncs.com --password-stdin

    - name: ali tag
      run: docker tag tradingai/runner:latest registry.cn-hangzhou.aliyuncs.com/tradingai/runner:latest

    - name: ali docker push-logout
      run: |
        docker push registry.cn-hangzhou.aliyuncs.com/tradingai/runner:latest
        docker logout registry.cn-hangzhou.aliyuncs.com
